<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060243589916-u97jlqnln8hoovlgcujcd3su6f84hfvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060243589916-u97jlqnln8hoovlgcujcd3su6f84hfvd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1060243589916-9s9h2vvf7g3p1k8vk5esa28rsck98nih.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxWlzaGjXEau-Z6rFOn7zKgRvYNnNrIkc</string>
	<key>GCM_SENDER_ID</key>
	<string>1060243589916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messagingApp</string>
	<key>PROJECT_ID</key>
	<string>messenger-app-1d19e</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-app-1d19e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060243589916:ios:369baa76585b0fa5a588d9</string>
</dict>
</plist>